@import './../../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import './../../../node_modules/font-awesome/css/font-awesome.min.css'

body
  background: #fff

.sample
  .text
    color: green
    font-size: 5rem

.fa
  color: blue
  font-size: 3rem